<!DOCTYPE html>
<html ng-app='mailer'>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Rebel Mail Mailer</title>

  </head>
  <body ng-controller="MailController as MailCtrl">

    <!--  Send email form -->
    <div ng-include src="'partials/mailform.ejs'"></div>

    <!-- Sample Email -->
    <div>
    <h3 id="preview-header">Live Email Preview</h3>
      <div style="width: 340px; margin-left: auto; margin-right: auto;"><div><img src="https://s31.postimg.org/a247w8ijf/Screen_Shot_2016_07_13_at_12_05_56_AM.png"></div><div style="display: flex; justify-content: center; align-items: center; flex-direction: column;"><h4>To : {{ email.to }}</h4><h4>From : {{ email.from }}</h4><h6>Subject : {{ email.subject }}</h6><h6>Message : {{ email.message }}</h6></div>    <div><img src="https://s32.postimg.org/dk4tn3gw5/Screen_Shot_2016_07_13_at_12_06_06_AM.png"></div></div>
    </div>

    <div id="both-mailboxes">

      <!-- Mailbox for user 1 -->
      <div ng-include src="'partials/mailbox1.ejs'"></div>

      <!-- Mailbox for user 2t -->
      <div ng-include src="'partials/mailbox2.ejs'"></div>

    </div>

    <link rel="stylesheet" href="./css/style.css" />

    <!-- jasmine -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/1.3.1/jasmine.js"></script>
    <!-- jasmine's html reporting code and css -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasmine/1.3.1/jasmine-html.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/jasmine/1.3.1/jasmine.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-mocks.js"></script>
    <script src='./mail.js'></script>
    <script src="./specs.js"></script>

    <script>
      var jasmineEnv = jasmine.getEnv();

      jasmineEnv.addReporter(new jasmine.HtmlReporter());

      jasmineEnv.execute();
    </script>



  </body>
</html>
