#mailbox{
  width: 90%;
  min-height: 250px;
  border: 1px solid; margin-left: auto;
  margin-right: auto;
}

.header-get-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mailform{
  display: flex;
  justify-content: center;
  align-items: center;
}

#both-mailboxes {
  display: flex;
  justify-content: space-around;
}

#preview-header{
  margin-left: auto;
margin-right: auto;
width: 208px;
}

p {
  margin: 0 !important;
  margin-right: 3px !important;
}
